/* media */
@media (max-width: 768px) {
	.header {
		padding: 15px 0 0 0;
		&-sidebar {
			&__block {
				padding: 0 15px;
			}
		}
		&__main-menu-block {
			position: absolute;
			top: 160px;
			z-index: 100;
			display: none;
		}
		&__main-menu-list {
			padding: 10px;
		}
		&__main-menu-item {
			display: block;
			padding: 10px 0;
			border-bottom: 1px solid @dark-green;
			&:last-child {
				border-bottom: none;
			}
			&:before {
				display: none;
			}
		}
		&__main-menu-link {
			display: block;
			font-size: 16px;
			color: #fff;
			font-weight: bold;
			text-transform: uppercase;
		}
		&__mobile-btn-wrap {
			display: block;
		}
	}
	.modal {
		&__title {
			font-size: 28px;
		}
		&__remember-link {
			display: block;
			float: none!important;
		}
	}
	.footer {
		&__sidebar {
			position: relative;
			text-align: left;
			top: 0;
			margin: 20px 0 0 30px;
		}
	}
	.category-body {
		&__product-preview {
			text-align: center;
			display: block;
		}
		&__box {
			display: inline-block;
		}
		&__product-table,
		&__product-price-block {
			text-align: left;
		}
		&__product-table {
			td {
				font-size: 14px;
			}
		}
	}
}
@media (min-width: 500px) and (max-width: 768px) {
	.header {
		&__logo-text {
			margin: 17px 0 10px 4px;
		}
		&__mobile-btn-wrap {
			position: absolute;
			top: 0;
			right: 15px;
		}
		&__main-menu-block {
			top: 55px;
		}
		&__user-info-block {
			text-align: center;
		}
		&__link-wrap {
			display: inline-block;
			vertical-align: top;
			margin-right: 17px;
		}
		&-sidebar__inner-block {
			display: inline-block;
			vertical-align: top;
			margin-right: 40px;
			text-align: left;
		}
		&-sidebar__block {
			margin: 0 auto;
			float: none!important;
			text-align: center;
		}
	}
	.footer {
		&__sidebar {
			position: absolute;
			top: 71px;
			right: 30px;
			margin: 0;
			text-align: right;
		}
	}
}
@media (min-width: 600px) and (max-width: 768px) {
	.category-body {
		&__product-preview {
			width: 50%;
			display: inline-block;
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.header {
		&__info-title {
			font-size: 16px;
		}
		&__link-wrap {
			display: inline-block;
			margin-right: 10px;
		}
		&-sidebar {
			&__block {
				padding: 0 15px;
			}
		}
		&__link-wrap,
		&__user-info-form {
			margin-bottom: 15px;
		}
		&__main-menu-block {
			display: block;
		}
	}
	.right-sidebar {
		margin: 0;
		&__banner-block,
		&-inner {
			margin: 0 0 20px 0;
		}
		&__block-item {
			width: 100%;
		}
	}
	.category-body {
		&__product-buy {
			float: none;
			display: inline-block;
			margin-bottom: 7px;
		}
		&__product-table {
			td {
				font-size: 12px;
			}
		}
	}
	.footer {
		&__sidebar {
			top: auto;
			bottom: 0;
		}
		&__menu-link {
			font-size: 13px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.header {
		&__main-menu-item {
			padding: 0 5px 5px 5px;
		}
		&-sidebar {
			&__block {
				padding: 0 15px;
			}
		}
	}
	.right-sidebar {
		&__banner-block,
		&-inner {
			margin: 0 0 20px 0;
		}
		margin: -82px 0 0 0;
		&__main-link {
			font-size: 16px;
		}
		&__block-item {
			width: 100%;
		}
	}
	.category-body {
		&__product-buy {
			float: none;
			display: inline-block;
			margin-bottom: 7px;
		}
		&__product-table {
			td {
				font-size: 12px;
			}
		}
	}
	.footer {
		&__menu-item {
			margin: 0 9px 0 0;
			&:before {
				right: -7px;
				width: 1px;
			}
		}
	}

}