@main_font: Arial, sans-serif;
@site_bg: #000;
@main_color: #fff;

// ------------- VARS
@yellow: #ffe401;
@green: #00ff00;
@dark-green: #2e572e;
@light-green: #98fe9a;
@gothic: 'Century Gothic';
@radius: 10px;



html { height: 100%;}
body {
    font-family: @main_font;
    font-weight: normal;
    background: @site_bg url(../img/body_bg.png) 0 0 no-repeat;
    background-size: 100%;
    height: 100%;
    color: @main_color;
}
.container {
    font-size: 14px;
    margin: 0 auto;
    padding: 0px 15px;
    box-sizing: border-box;
}
.bottom-line {
    font-size: 200%;
    line-height: normal;
}
label { font-weight: normal;}
h1, h2, h3, h4, h5 { font-family: @main_font; }
img {max-width: 100%;}
a img {border: none;}
button, input, textarea {outline: none;}