extends _layout
block content
	.container
		.row
			include includes/_main-sidebar
			// контент
			.main-content.col-md-9
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							span.breadcrumbs__current-link О компании
				.main-slider__block
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
				h1.title О компании
				.main__text-block
					p Специализацией компании «Зеленый дворик» является <a href="#">продажа плодовых деревьев и хвойных крупномеров</a>, выращиваемых в Мичуринске – знаменитом центре отечественного садоводства, известном сегодня во всем мире.
					p Наше предприятие располагает собственным питомником. Мы тщательно контролируем условия, в которых выращивается каждое дерево - и по этой причине можем с уверенностью гарантировать качество.
					p Наличие собственного питомника в Мичуринске – это еще и основа для поддержания чрезвычайно широкого ассортимента посадочного материала.
					p На всю продукцию и услуги предоставляется гарантия 24 месяца. Как известно, наиболее важный для приживаемости растений период – первый год. Именно поэтому наши гарантийные обязательства можно считать весьма надежными!
					h3.subtitle
						strong Наша выставочная площадка
				.visual-area__block.universal-slider
					.visual-area__inner-block
						a.fancybox(href="img/content/about_img_9.jpg" rel="visual")
							img.visual-area__img(src="img/content/about_img_9.jpg", alt="")
					.visual-area__inner-block
						a.fancybox(href="img/content/about_img_2.jpg" rel="visual")
							img.visual-area__img(src="img/content/about_img_2.jpg", alt="")
					.visual-area__inner-block
						a.fancybox(href="img/content/about_img_9.jpg" rel="visual")
							img.visual-area__img(src="img/content/about_img_9.jpg", alt="")
					.visual-area__inner-block
						a.fancybox(href="img/content/about_img_2.jpg" rel="visual")
							img.visual-area__img(src="img/content/about_img_2.jpg", alt="")
					.visual-area__inner-block
						a.fancybox(href="img/content/about_img_9.jpg" rel="visual")
							img.visual-area__img(src="img/content/about_img_9.jpg", alt="")
					.visual-area__inner-block
						a.fancybox(href="img/content/about_img_2.jpg" rel="visual")
							img.visual-area__img(src="img/content/about_img_2.jpg", alt="")
				.main__text-block
					h3 С Вами рады работать 
					ul
						li Глава КФХ Кривошеева Валентина Анатольевна (агроном-плодоовощевод) 8-916-241-2579
						li Кривошеев Сергей Михайлович (кандидат сельско-хозяйственных наук) 8-916-636-85-28
					h2.subtitle Мы выполняем
					ul
						li Продажу и доставку крупномеров на садовый участок. Аккуратная погрузка и выгрузка, обеспечение необходимой защиты во время транспортировки
						li <a href="#">Посадку</a>. Технологичная, с учетом особенностей участка (климата, характеристик почвы) и в полном соответствии с проектом озеленения
						li <a href="#">Обработку от вредителей</a>. Консультации, профилактические или лечебные мероприятия
						li
							a(href="#") Разработку проектов ландшафтного дизайна и озеленения
					p Фактически, Вы можете доверить нам абсолютно все работы по созданию Вашего сада!
					p Многие владельцы участков именно так и поступают – во-первых, потому что это выгодно и очень удобно, во-вторых, потому что мы оправдываем самые лучшие ожидания.
					p Предлагаем посетить <a href="#">фотогалерею на нашем сайте</a> – Вы сможете оценить некоторые наши идеи, уже реализованные на практике.
					p Нам доверяют не только потому, что мы предлагаем отборные саженцы из Мичуринска. Люди видят, насколько нам интересна эта работа – выращивать сады!
				.row
					.land__block.col-md-6
						a.fancybox(href="http://maps.yandex.ru/-/CVV7fJol")
							img.land__img(src="img/map.png", alt="")
						h3.land__title Земля в Мичуринске
						p.land__text Наш участок расположен у села Турмасово в районе животноводческих ферм в 10 км от Мичуринска.
					.land__block.col-md-6
						a.fancybox(href="img/dogovor-uchastok.jpg")
							img.land__img(src="img/dogovor-uchastok_s.jpg", alt="")
						h3.land__title Постановление о предоставлении земли
						p.land__text Земля предоставлена нам в долгосрочную аренду на 49 лет с возможностью дальнейшей пролонгации.
				.main__text-block
					blockquote Внимание! Имя нашей компании стало использоваться недобросовестными продавцами посадочного материала. Предупреждаем, что мы не имеем к ним никакого отношения и работаем только по контактам, указанным на нашем сайте!
					a.main__download-price(href="#") Скачать прайс-лист на все растения
				.category__advice-block
					h3.category__advice-title Советы
					p.category__intro-text Выбирая крупномер, ориентируйтесь не только на свой вкус, но и на возможности сада. Походите по окружающей местности, посмотрите, какие растения в ней лучше приживаются, поспрашивайте соседей. Но, главное, прислушивайтесь к <a href="#">мнению профессионалов!</a> У нас продажа мичуринских крупномеров всегда сопровождается консультацией грамотных специалистов.