extends _layout
block content
	.container
		.row
			// sidebar
			.right-sidebar.pull-right.col-lg-3.clearfix
				.right-sidebar-inner
					.right-sidebar__header
						a.right-sidebar__main-link(href="#") Саженцы от а до я
					.right-sidebar__block
						h3.right-sidebar__block-title Плодово-ягодные крупномеры
						ul.right-sidebar__block-list.list-inline
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Айва
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Абрикос
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Алыча
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Боярышник
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Вишня
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Голубика
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Груша
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Жимолость
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ирга
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Калина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Cмородина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Крыжовник
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Облепиха
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Рябина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Слива
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Смородина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Черешня
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Чернослив
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Яблоня
					.right-sidebar__block
						h3.right-sidebar__block-title Хвойные и декоративные крупномеры
						ul.right-sidebar__block-list.list-inline
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ель
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Сосна
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Туя
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Береза
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Липа
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Сирень
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ива
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Каштан
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Клен
						.right-sidebar__preorder-block
							a.right-sidebar__block-preorder(href="#") Дуб (под заказ)
							a.right-sidebar__block-preorder(href="#") Элитный кедр (под заказ)
							a.right-sidebar__block-preorder(href="#") Лиственница (под заказ)
					.right-sidebar__block
						h3.right-sidebar__block-title Кустарники и лианы
						ul.right-sidebar__block-list.list-inline
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Актинидия
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Барбарис
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Брусника
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Бузина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Виноград
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Гортензия
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ежевика
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Жасмин
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Земляника
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ирис
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Клубника
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Клюква
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Лещина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Лимонник
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Малина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Можжевельник
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Орех
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Фундук
				.right-sidebar-inner
					.right-sidebar__quick-link-block
						h3.right-sidebar__quick-link-title Быстрые ссылки
						a.right-sidebar__quick-link(href="#") Хвойные деревья
						a.right-sidebar__quick-link(href="#") Создание альпийских горок
						a.right-sidebar__quick-link(href="#") Газоны и клумбы
						a.right-sidebar__quick-link(href="#") Хвойные деревья
						a.right-sidebar__quick-link(href="#") Создание альпийских горок
						a.right-sidebar__quick-link(href="#") Газоны и клумбы
				.right-sidebar__banner-block
					a(href="#")
						img.right-sidebar__banner(src="img/content/sidebar_banner.jpg", alt="")
			// контент
			.main-content.col-lg-9
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Продукция
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Мой Кабинет
						li.breadcrumbs__item
							span.breadcrumbs__current-link Моя Корзина
				.cart-step__block
					a.cart-step__link(href="#") Шаг 1. Выбор
					a.cart-step__link.active(href="#") Шаг 2. Оформление
					a.cart-step__link(href="#") Шаг 3. Отправка
				.cart-step__inner-block
					form(action="#" method="post")
						.cart-step__form-block
							p.cart-step__form-title Покупатель
							input.cart-step__form-radio#individual(type="radio" name="buyer" checked)
							label.cart-step__form-label(for="individual") Физическое лицо
							input.cart-step__form-radio#entity(type="radio" name="buyer")
							label.cart-step__form-label(for="entity") Юридическое лицо
							.cart-step__form-input-block
								.cart-step__form-control
									span.cart-step__form-icon.glyphicon.glyphicon-user
									input.cart-step__form-input(type="text" placeholder="Ф.И.О")
								.cart-step__form-control
									span.cart-step__form-icon.glyphicon.glyphicon-envelope							
									input.cart-step__form-input(type="email" placeholder="E-mail")
								.cart-step__form-control
									span.cart-step__form-icon.glyphicon.glyphicon-earphone						
									input.cart-step__form-input(type="tel" placeholder="Телефон")
							textarea.cart-step__form-textarea(placeholder="Комментарии к заказу")
						.cart-step__form-block
							p.cart-step__form-title Доставка
							.cart-step__form-input-block
								.cart-step__form-control._half-block
									span.cart-step__form-icon.glyphicon.glyphicon-map-marker
									input.cart-step__form-input(type="text" placeholder="Город, регион")
								.cart-step__form-control._half-block
									span.cart-step__form-icon.glyphicon.glyphicon-home
									input.cart-step__form-input(type="text" placeholder="Улица, дом")
							.cart-step__radio-wrap
								input.cart-step__form-radio#auto_delivery(type="radio" name="delivery" checked)
								label.cart-step__form-label(for="auto_delivery") Доставка автомобилем
								p.cart-step__radio-description Стоимость доставки а/м Газель составляет 60 руб./ км. в пределах Москвы и Московской области. Доставка в другие города – стоимость и вид транспорта по договоренности. Крупномерный посадочный материал – доставка краном-манипулятором по договорной цене.
							.cart-step__radio-wrap
								input.cart-step__form-radio#pickup(type="radio" name="delivery")
								label.cart-step__form-label(for="pickup") Самовывоз
						.cart-step__form-block._marg-bottom
							p.cart-step__form-title Способ оплаты
							.cart-step__pay-block
								ul.cart-step__pay-list
									li.cart-step__pay-item
										img.cart-step__pay-img(src="img/pay_1.png", alt="")
										input.cart-step__radio-pay-input#pay_method_1(type="radio" name="pay" checked)
										label.cart-step__pay-label(for="pay_method_1") На расчетный счет
									li.cart-step__pay-item
										img.cart-step__pay-img(src="img/pay_2.png", alt="")
										input.cart-step__radio-pay-input#pay_method_2(type="radio" name="pay")
										label.cart-step__pay-label(for="pay_method_2") На карту Сбербанка
									li.cart-step__pay-item
										img.cart-step__pay-img(src="img/pay_3.png", alt="")
										input.cart-step__radio-pay-input#pay_method_3(type="radio" name="pay")
										label.cart-step__pay-label(for="pay_method_3") Наличными при<br>получении товара
						.cart-step__footer-block
							a.cart-step__next-link(href="#") Далее