extends _layout
block content
	.container
		.row
			// sidebar
			.right-sidebar.pull-right.col-lg-3.clearfix
				.right-sidebar-inner
					.right-sidebar__header
						a.right-sidebar__main-link(href="#") Саженцы от а до я
					.right-sidebar__block
						h3.right-sidebar__block-title Плодово-ягодные крупномеры
						ul.right-sidebar__block-list.list-inline
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Айва
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Абрикос
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Алыча
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Боярышник
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Вишня
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Голубика
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Груша
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Жимолость
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ирга
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Калина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Cмородина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Крыжовник
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Облепиха
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Рябина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Слива
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Смородина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Черешня
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Чернослив
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Яблоня
					.right-sidebar__block
						h3.right-sidebar__block-title Хвойные и декоративные крупномеры
						ul.right-sidebar__block-list.list-inline
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ель
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Сосна
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Туя
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Береза
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Липа
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Сирень
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ива
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Каштан
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Клен
						.right-sidebar__preorder-block
							a.right-sidebar__block-preorder(href="#") Дуб (под заказ)
							a.right-sidebar__block-preorder(href="#") Элитный кедр (под заказ)
							a.right-sidebar__block-preorder(href="#") Лиственница (под заказ)
					.right-sidebar__block
						h3.right-sidebar__block-title Кустарники и лианы
						ul.right-sidebar__block-list.list-inline
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Актинидия
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Барбарис
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Брусника
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Бузина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Виноград
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Гортензия
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ежевика
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Жасмин
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Земляника
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ирис
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Клубника
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Клюква
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Лещина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Лимонник
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Малина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Можжевельник
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Орех
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Фундук
				.right-sidebar-inner
					.right-sidebar__quick-link-block
						h3.right-sidebar__quick-link-title Быстрые ссылки
						a.right-sidebar__quick-link(href="#") Хвойные деревья
						a.right-sidebar__quick-link(href="#") Создание альпийских горок
						a.right-sidebar__quick-link(href="#") Газоны и клумбы
						a.right-sidebar__quick-link(href="#") Хвойные деревья
						a.right-sidebar__quick-link(href="#") Создание альпийских горок
						a.right-sidebar__quick-link(href="#") Газоны и клумбы
				.right-sidebar__banner-block
					a(href="#")
						img.right-sidebar__banner(src="img/content/sidebar_banner.jpg", alt="")
			// контент
			.main-content.col-lg-9
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Продукция
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Мой Кабинет
						li.breadcrumbs__item
							span.breadcrumbs__current-link Моя Корзина
				.cart-step__block
					a.cart-step__link.active(href="#") Шаг 1. Выбор
					a.cart-step__link(href="#") Шаг 2. Оформление
					a.cart-step__link(href="#") Шаг 3. Отправка
				.cart-step__inner-block
					table.cart-step__product-table
						tr
							td.cart-step__product-item
								a(href="#")
									img.cart-step__product-img(src="img/content/cart_product.jpg", alt="")
							td.cart-step__product-item
								a.cart-step__product-name(href="#") Фундук московский рубин
								p.cart-step__product-age Возраст/Размер: 7 лет
							td.cart-step__product-item
								span.cart-step__quantity-changer.glyphicon.glyphicon-minus
								input.cart-step__quantity-input(type="text" value="1")
								span.cart-step__quantity-changer.glyphicon.glyphicon-plus
							td.cart-step__product-item
								p.cart-step__product-price 
									span.cart-step__product-cost 15000
									| руб.
							td.cart-step__product-item
								a.cart-step__item-delete(href="#") удалить
						tr
							td.cart-step__product-item
								a(href="#")
									img.cart-step__product-img(src="img/content/cart_product.jpg", alt="")
							td.cart-step__product-item
								a.cart-step__product-name(href="#") Фундук московский рубин
								p.cart-step__product-age Возраст/Размер: 7 лет
							td.cart-step__product-item
								span.cart-step__quantity-changer.glyphicon.glyphicon-minus
								input.cart-step__quantity-input(type="text" value="1")
								span.cart-step__quantity-changer.glyphicon.glyphicon-plus
							td.cart-step__product-item
								p.cart-step__product-price 
									span.cart-step__product-cost 15000
									| руб.
							td.cart-step__product-item
								a.cart-step__item-delete(href="#") удалить
					table.cart-step__plant-table
						tr
							td.cart-step__plant-item
								img.cart-step__plant-img(src="img/plant.png", alt="")
							td.cart-step__plant-item
								p.cart-step__plant-text-title Посадка растений
								p.cart-step__plant-text Мы готовы посадить для Вас заказанные растения всего за <span>20%</span> от их стоимости!
								a.cart-step__plant-detail-link(href="javascript:void(0);") Подробнее об услуге
								.cart-step__plant-detail-block
									p Посадка растений  c гарантией Теперь Вы заказываете посадку с гарантией!Всего за 50% от стоимости растений мы берем на себя риски и бесплатно заменяем Ваши растения, если они не прижились в течение года.
							td.cart-step__plant-item
								p.cart-step__product-price 
									span.cart-step__product-cost 6000
									| руб.
							td.cart-step__plant-item
								input.cart-step__plant-checkbox#plant(type="checkbox" checked)
								label.cart-step__plant-label-checkbox(for="plant")
					table.cart-step__plant-table
						tr
							td.cart-step__plant-item
								img.cart-step__plant-img(src="img/garranty_plant.png", alt="")
							td.cart-step__plant-item
								p.cart-step__plant-text-title Посадка растений  c гарантией
								p.cart-step__plant-text Теперь Вы заказываете посадку с гарантией! Всего за <span>50%</span> от стоимости растений мы берем на себя риски и бесплатно заменяем Ваши растения, если они не прижились в течение года.
								a.cart-step__plant-detail-link(href="javascript:void(0);") Подробнее об услуге
								.cart-step__plant-detail-block
									p Посадка растений  c гарантией Теперь Вы заказываете посадку с гарантией!Всего за 50% от стоимости растений мы берем на себя риски и бесплатно заменяем Ваши растения, если они не прижились в течение года.
							td.cart-step__plant-item
								p.cart-step__product-price 
									span.cart-step__product-cost 15000
									| руб.
							td.cart-step__plant-item
								input.cart-step__plant-checkbox#garranty_plant(type="checkbox" checked)
								label.cart-step__plant-label-checkbox(for="garranty_plant")
					.cart-step__total-price-block
						p.cart-step__product-price 
							span.cart-step__product-cost Итого: 
							span.cart-step__product-cost 36000
							| руб.
						a.cart-step__next-link(href="#") Далее