extends _layout
block content
	.container
		.row
			include includes/_main-sidebar
			// контент
			.main-content.col-md-9
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Продукция
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Мой Кабинет
						li.breadcrumbs__item
							span.breadcrumbs__current-link Моя Корзина
				.cart-step__block
					a.cart-step__link(href="#") Шаг 1. Выбор
					a.cart-step__link(href="#") Шаг 2. Оформление
					a.cart-step__link.active(href="#") Шаг 3. Отправка
				.cart-step__inner-block
					.cart-step__order-block
						p.cart-step__order-text Спасибо, что выбрали нас!
						p.cart-step__order-text Ваш заказ №8021 от 15.09.2015 10:20:42 успешно создан. Наши менеджеры в ближайшее время свяжутся с Вами для уточнения деталей.
					p.cart-step__view Вы можете следить за выполнением своего заказа в 
						a(href="#") Персональном разделе сайта
					a.cart-step__order-info-btn(href="#") Открыть информацию о заказе
					.cart-step__remember-block
						p.cart-step__order-text Напоминаем вам данные для использования личного кабинета
						p.cart-step__remember-info
							span.cart-step__remember-title Ваш логин для входа в личный кабинет: 
							| test2
						p.cart-step__remember-info
							span.cart-step__remember-title Пароль:
							| fX2wY23R /
							a.cart-step__remember-link(href="#") задать
							| /
							a.cart-step__remember-link(href="#") изменить свой пароль
						p.cart-step__remember-info
							span.cart-step__remember-title E-mail:
							| test2@mail.ru