extends _layout
block content
	.container
		.row
			.right-sidebar.pull-right.col-lg-3.clearfix
				.right-sidebar-inner
					.right-sidebar__header
						a.right-sidebar__main-link(href="#") Саженцы от а до я
					.right-sidebar__block
						h3.right-sidebar__block-title Плодово-ягодные крупномеры
						ul.right-sidebar__block-list.list-inline
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Айва
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Абрикос
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Алыча
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Боярышник
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Вишня
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Голубика
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Груша
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Жимолость
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ирга
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Калина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Cмородина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Крыжовник
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Облепиха
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Рябина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Слива
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Смородина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Черешня
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Чернослив
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Яблоня
					.right-sidebar__block
						h3.right-sidebar__block-title Хвойные и декоративные крупномеры
						ul.right-sidebar__block-list.list-inline
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ель
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Сосна
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Туя
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Береза
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Липа
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Сирень
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ива
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Каштан
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Клен
						.right-sidebar__preorder-block
							a.right-sidebar__block-preorder(href="#") Дуб (под заказ)
							a.right-sidebar__block-preorder(href="#") Элитный кедр (под заказ)
							a.right-sidebar__block-preorder(href="#") Лиственница (под заказ)
					.right-sidebar__block
						h3.right-sidebar__block-title Кустарники и лианы
						ul.right-sidebar__block-list.list-inline
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Актинидия
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Барбарис
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Брусника
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Бузина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Виноград
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Гортензия
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ежевика
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Жасмин
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Земляника
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ирис
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Клубника
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Клюква
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Лещина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Лимонник
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Малина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Можжевельник
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Орех
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Фундук
				.right-sidebar-inner
					.right-sidebar__quick-link-block
						h3.right-sidebar__quick-link-title Быстрые ссылки
						a.right-sidebar__quick-link(href="#") Хвойные деревья
						a.right-sidebar__quick-link(href="#") Создание альпийских горок
						a.right-sidebar__quick-link(href="#") Газоны и клумбы
						a.right-sidebar__quick-link(href="#") Хвойные деревья
						a.right-sidebar__quick-link(href="#") Создание альпийских горок
						a.right-sidebar__quick-link(href="#") Газоны и клумбы
				.right-sidebar__banner-block
					a(href="#")
						img.right-sidebar__banner(src="img/content/sidebar_banner.jpg", alt="")
			.main-content.col-lg-9
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Продукция
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Хвойные и декоративные крупномеры
						li.breadcrumbs__item
							span.breadcrumbs__current-link Ель
				.category-header__block
					.category-header__sort-block
						ul.category-header__sort-list
							li.category-header__sort-item
								a.category-header__sort-link(href="#") Популярность
									span.category-header__sort-arrow.glyphicon.glyphicon-triangle-bottom
							li.category-header__sort-item
								a.category-header__sort-link(href="#") Цена
									span.category-header__sort-arrow.glyphicon.glyphicon-triangle-bottom
							li.category-header__sort-item
								a.category-header__sort-link(href="#") Название
									span.category-header__sort-arrow.glyphicon.glyphicon-triangle-top
					h2.category-header__block-title Крупномеры ели
				p.category__intro-text Пожалуй, никому не нужно объяснять, что это за растение. Оно красиво и «знаменито». Купить саженцы ели 3 или 4 метров не каждому придёт в голову, зато результат отличный. На просторах нашей бескрайней родины это дерево встречается повсеместно. И вовсе не потому, что так предусмотрено природой. Просто оно является неким украшением городских улиц и частных двориков. К тому же хвойные деревья сами по себе являются отличным источником кислорода и прекрасного аромата, а потому власти мегаполисов и более мелких населённых пунктов стараются высаживать ели 5 и 6 метров на обочинах дорог.
				.category-body__block
					.row
						.category-body__product-preview.col-lg-4
							a.category-body__product-link(href="#")
								h3.category-body__product-title ель picea abies
								.category-body__box
									img.category-body__product-img(src="img/content/product_img.png", alt="")
									table.category-body__product-table
										tr
											td 60-80 c25									
											td 
												span.category-body__table-price 4500
												|  руб
										tr
											td 60-80 c25
											td 
												span.category-body__table-price 6000
												|  руб
										tr
											td 60-80 c25
											td
												span.category-body__table-price 6000
												|  руб
							.category-body__product-price-block
								a.category-body__product-buy(href="#") Купить
								p.category-body__product-price
									| Цена от:
									span.category-body__product-cost 4500
									| руб.
						.category-body__product-preview.col-lg-4
							a.category-body__product-link(href="#")
								h3.category-body__product-title ель glauca globosa
								.category-body__box.new
									img.category-body__product-img(src="img/content/product_img.png", alt="")
									table.category-body__product-table
										tr
											td 60-80 c25									
											td 
												span.category-body__table-price 4500
												|  руб.
										tr
											td 60-80 c25
											td 
												span.category-body__table-price 6000
												|  руб.
										tr
											td 60-80 c25
											td
												span.category-body__table-price 6000
												|  руб.
							.category-body__product-price-block
								a.category-body__product-buy(href="#") Купить
								p.category-body__product-price
									| Цена от:
									span.category-body__product-cost 4500
									| руб.
						.category-body__product-preview.col-lg-4
							a.category-body__product-link(href="#")
								h3.category-body__product-title ель сербская
								.category-body__box.new
									img.category-body__product-img(src="img/content/product_img.png", alt="")
									table.category-body__product-table
										tr
											td 60-80 c25									
											td 
												span.category-body__table-price 4500
												|  руб
										tr
											td 60-80 c25
											td 
												span.category-body__table-price 6000
												|  руб
										tr
											td 60-80 c25
											td
												span.category-body__table-price 6000
												|  руб
							.category-body__product-price-block
								a.category-body__product-buy(href="#") Купить
								p.category-body__product-price
									| Цена от:
									span.category-body__product-cost 4500
									| руб.
						.category-body__product-preview.col-lg-4
							a.category-body__product-link(href="#")
								h3.category-body__product-title ель picea abies
								.category-body__box
									img.category-body__product-img(src="img/content/product_img.png", alt="")
									table.category-body__product-table
										tr
											td 60-80 c25									
											td 
												span.category-body__table-price 4500
												|  руб
										tr
											td 60-80 c25
											td 
												span.category-body__table-price 6000
												|  руб
										tr
											td 60-80 c25
											td
												span.category-body__table-price 6000
												|  руб
							.category-body__product-price-block
								a.category-body__product-buy(href="#") Купить
								p.category-body__product-price
									| Цена от:
									span.category-body__product-cost 4500
									| руб.
						.category-body__product-preview.col-lg-4
							a.category-body__product-link(href="#")
								h3.category-body__product-title ель glauca globosa
								.category-body__box.new
									img.category-body__product-img(src="img/content/product_img.png", alt="")
									table.category-body__product-table
										tr
											td 60-80 c25									
											td 
												span.category-body__table-price 4500
												|  руб.
										tr
											td 60-80 c25
											td 
												span.category-body__table-price 6000
												|  руб.
										tr
											td 60-80 c25
											td
												span.category-body__table-price 6000
												|  руб.
							.category-body__product-price-block
								a.category-body__product-buy(href="#") Купить
								p.category-body__product-price
									| Цена от:
									span.category-body__product-cost 4500
									| руб.
						.category-body__product-preview.col-lg-4
							a.category-body__product-link(href="#")
								h3.category-body__product-title ель сербская
								.category-body__box.new
									img.category-body__product-img(src="img/content/product_img.png", alt="")
									table.category-body__product-table
										tr
											td 60-80 c25									
											td 
												span.category-body__table-price 4500
												|  руб
										tr
											td 60-80 c25
											td 
												span.category-body__table-price 6000
												|  руб
										tr
											td 60-80 c25
											td
												span.category-body__table-price 6000
												|  руб
							.category-body__product-price-block
								a.category-body__product-buy(href="#") Купить
								p.category-body__product-price
									| Цена от:
									span.category-body__product-cost 4500
									| руб.
						.text-center
							a.category__show-more(href="#") Показать еще 15
							.pagination__block
								a.pagination__link.active(href="#") Начало
								a.pagination__link(href="#") Пред.
								ul.pagination__list
									li.pagination__item
										a.pagination__item-link(href="#") 1
									li.pagination__item
										a.pagination__item-link.active(href="#") 2
								a.pagination__link(href="#") След.
								a.pagination__link(href="#") Конец
						p.category__intro-text Вы тоже можете приобрести хвойные крупномеры для своего сада. Наша компания поможет в этом. Ёлочка в собственном саду – приятное зрелище. Если учесть, что нужна она каждый Новый год, то можно сажать сразу несколько деревьев – некоторые так и поступают. Высадив около десяти елей в своём саду, вы сможете ежегодно спиливать одну для украшения собственного дома. А после можно досаживать дополнительные деревца.
						p.category__intro-text Те, кому это не по душе, сажают пятилетние ели во дворе просто для красоты. И, конечно, для необыкновенного хвойного аромата, который исходит от них. Трёх-пяти саженцев для этого достаточно.
						p.category__intro-text Т.к. мы продаём крупномеры, вам не придётся долго пережидать «детский» период жизни ели, когда она растёт медленно (это первые 10-15 лет). Вы получите уже готовые, достаточно высокие растения.
						.category__advice-block
							h3.category__advice-title Советы
							p.category__intro-text Своими руками строительство и дренаж альпийской горки удобно проводить с помощью щебня, гравия, а также измельченного кирпича, опилок и других остатков ремонтных работ. Все это засыпают в углубление в земле для будущего альпинария. Такой слой на дне предотвращает оседание почв и помогает поддержать оптимальный уровень влажности.