extends _layout
block content
	.container
		.row
			include includes/_main-sidebar
			// контент
			.main-content.col-md-9
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							span.breadcrumbs__current-link Контакты
				.main-slider__block
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
				h1.title Контакты
				.main__text-block
					br
					h2.subtitle Телефоны
					h3 
						strong Москва
					p 8-925-881-01-90
					p 8-916-426-69-88
					p 8-916-241-25-79
					h3 
						strong Мичуринск
					p 8-916-636-85-28
					br
					h3 
						strong Email
					p
						a(href="mailto:green-dvori@yandex.ru") green-dvori@yandex.ru
					p
						a.fancybox(href="img/dogovor-uchastok.jpg.jpg")
							img(src="img/dogovor-uchastok_s.jpg", alt="")
					br
					h2.subtitle Реквизиты:
					p ИП Кривошеева Валентина Анатольевна 
					p ИНН 682700690777 
					p ОГРНИП 311682721500064
					p Р/С №40802810300990024315
					br
					h2.subtitle Адрес:
					p г. Москва, 96-ой км МКАД (450 метров), Лесная зона в микрорайоне Дружба
					h2.subtitle Как проехать:
					p Свернуть с МКАД на Ярославское шоссе в сторону области, через 300 метров повернуть направо, на ул. Карла Либнехта, затем на Октябрьскую улицу. В конце ее, на развилке, свернуть направо - до упора, затем налево, на Кропоткинский проезд, далее въезд на территорию садового центра.
					.main__map
						<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=-hH0fK216AGav8dWAt4L0LXdd4e0jy4e&width=100%&height=100%&lang=ru_UA&sourceType=constructor"></script>
					blockquote Внимание! Имя нашей компании стало использоваться недобросовестными продавцами посадочного материала. Предупреждаем, что мы не имеем к ним никакого отношения и работаем только по контактам, указанным на нашем сайте!
					p Чтобы связаться с нами заполните эту форму:
					.main__form-block
						form(action="#" method="post")
							.main__form-control
								span.glyphicon.glyphicon-user
								input.main__form-input(type="text" required placeholder="Ваше имя")
							.main__form-control
								span.glyphicon.glyphicon-envelope
								input.main__form-input(type="email" required placeholder="Ваш email")
							.main__form-control
								span.glyphicon.glyphicon-pencil
								textarea.main__form-textarea( placeholder="Ваш вопрос (комментарий)")
							input.main__form-submit(type="submit" value="Отправить")
				.category__advice-block
					h3.category__advice-title Советы
					p.category__intro-text Выбирая крупномер, ориентируйтесь не только на свой вкус, но и на возможности сада. Походите по окружающей местности, посмотрите, какие растения в ней лучше приживаются, поспрашивайте соседей. Но, главное, прислушивайтесь к <a href="#">мнению профессионалов!</a> У нас продажа мичуринских крупномеров всегда сопровождается консультацией грамотных специалистов.