extends _layout
block content
	.container
		.row
			include includes/_main-sidebar
			// контент
			.main-content.col-md-9.col-sm-8
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Вопросы-ответы
						li.breadcrumbs__item
							span.breadcrumbs__current-link Когда лучше покупать крупномеры?
				.main-slider__block
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
				h1.title Когда лучше покупать крупномеры?
				.main__text-block
					p Привезенные взрослые крупномеры из <a href="#">питомника требуют</a> внимательного и осторожного отношения при пересадке. Большое растение нуждается в сохранении корневой массы. Многие мелкие корешки, оказываясь поврежденными, теряют способность к всасыванию. Поэтому специалисты рекомендуют пересаживать крупномеры с целым комом земли. Его диаметр может составлять около 1 - 1,5 метров. В целом же, рекомендуемый размер кома составляет от 10-12 диаметров ствола самого крупномера в его основании.
				.main__text-block
					a.main__download-price(href="#") Скачать прайс-лист на все растения
				.category__advice-block
					h3.category__advice-title Советы
					p.category__intro-text Выбирая крупномер, ориентируйтесь не только на свой вкус, но и на возможности сада. Походите по окружающей местности, посмотрите, какие растения в ней лучше приживаются, поспрашивайте соседей. Но, главное, прислушивайтесь к <a href="#">мнению профессионалов!</a> У нас продажа мичуринских крупномеров всегда сопровождается консультацией грамотных специалистов.