extends _layout
block content
	.container
		.row
			include includes/_main-sidebar
			// контент
			.main-content.col-md-9.col-sm-8
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							span.breadcrumbs__current-link Авторизация
				.main__text-block
					p Если вы забыли пароль, введите логин или E-Mail.
					p Контрольная строка для смены пароля, а также ваши регистрационные данные, будут высланы вам по E-Mail.
					h2.subtitle Выслать контрольную строку
					form(action="#" method="post")
						.row
							.col-md-4
								input.modal__input(type="text" placeholder="Логин")
							.col-md-1.text-center
								span.modal__text или
							.col-md-4
								input.modal__input(type="email" placeholder="Email")
						input.modal__submit(type="submit" value="Выслать")
						br
						a.modal__remember-link(href="#enter") Авторизация