extends _layout
block content
	.container
		.row
			include includes/_main-sidebar
			// контент
			.main-content.col-md-9
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							span.breadcrumbs__current-link Фотогаллерея
				.main-slider__block
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
				h1.title Фотогаллерея
				.gallery__section
					.gallery__category-block
						a.gallery__category-link(href="#") Плодовые крупномеры
						a.gallery__category-link(href="#") Хвойные и лиственные
						a.gallery__category-link(href="#") Ландшафный дизайн  
					.gallery__block
						a.gallery__img-link.fancybox(href="img/content/about_img_9.jpg" rel="gallery" title="Какое то описание")
							img.gallery__img(src="img/content/about_img_9.jpg", alt="")
						a.gallery__img-link.fancybox(href="img/content/about_img_2.jpg" rel="gallery" title="Еще описание")
							img.gallery__img(src="img/content/about_img_2.jpg", alt="")
						a.gallery__img-link.fancybox(href="img/content/about_img_9.jpg" rel="gallery" title="Какое то описание")
							img.gallery__img(src="img/content/about_img_9.jpg", alt="")
						a.gallery__img-link.fancybox(href="img/content/about_img_2.jpg" rel="gallery" title="Еще описание")
							img.gallery__img(src="img/content/about_img_2.jpg", alt="")
						a.gallery__img-link.fancybox(href="img/content/about_img_9.jpg" rel="gallery" title="Какое то описание")
							img.gallery__img(src="img/content/about_img_9.jpg", alt="")
						a.gallery__img-link.fancybox(href="img/content/about_img_2.jpg" rel="gallery" title="Еще описание")
							img.gallery__img(src="img/content/about_img_2.jpg", alt="")
						a.gallery__img-link.fancybox(href="img/content/about_img_9.jpg" rel="gallery" title="Какое то описание")
							img.gallery__img(src="img/content/about_img_9.jpg", alt="")
						a.gallery__img-link.fancybox(href="img/content/about_img_2.jpg" rel="gallery" title="Еще описание")
							img.gallery__img(src="img/content/about_img_2.jpg", alt="")
						a.gallery__img-link.fancybox(href="img/content/about_img_9.jpg" rel="gallery" title="Какое то описание")
							img.gallery__img(src="img/content/about_img_9.jpg", alt="")
						a.gallery__img-link.fancybox(href="img/content/about_img_2.jpg" rel="gallery" title="Еще описание")
							img.gallery__img(src="img/content/about_img_2.jpg", alt="")
						a.gallery__img-link.fancybox(href="img/content/about_img_9.jpg" rel="gallery" title="Какое то описание")
							img.gallery__img(src="img/content/about_img_9.jpg", alt="")
						a.gallery__img-link.fancybox(href="img/content/about_img_2.jpg" rel="gallery" title="Еще описание")
							img.gallery__img(src="img/content/about_img_2.jpg", alt="")
						a.gallery__img-link.fancybox(href="img/content/about_img_9.jpg" rel="gallery" title="Какое то описание")
							img.gallery__img(src="img/content/about_img_9.jpg", alt="")
						a.gallery__img-link.fancybox(href="img/content/about_img_2.jpg" rel="gallery" title="Еще описание")
							img.gallery__img(src="img/content/about_img_2.jpg", alt="")
				.category__advice-block
					h3.category__advice-title Советы
					p.category__intro-text Выбирая крупномер, ориентируйтесь не только на свой вкус, но и на возможности сада. Походите по окружающей местности, посмотрите, какие растения в ней лучше приживаются, поспрашивайте соседей. Но, главное, прислушивайтесь к <a href="#">мнению профессионалов!</a> У нас продажа мичуринских крупномеров всегда сопровождается консультацией грамотных специалистов.