extends _layout
block content
	.container
		.row
			include includes/_main-sidebar
			// контент
			.main-content.col-md-9.col-sm-8.col-sm-8
				.main-slider__block
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
				.row
					.main__text-block.col-md-5
						h2.subtitle Зеленый дворик. Услуги
						ul
							li Продажа, доставка крупномеров
							li Высадка продукции питомника
							li Обработка деревьев от вредителей
							li Ландшафтный дизайн
						p Основное направление нашей деятельности - продажа и посадка взрослых деревьев-крупномеров (высотой от нескольких метров), имеющих сформировавшуюся крону. Их высадка позволяет быстро придать саду завершенный образ.
					.main__text-block.col-md-7
						h3 Откуда саженцы? Из Мичуринска
						p Мичуринск – научный центр отечественного садоводства с мировой известностью. Выращиваем сами. Поэтому знаем, в каких условиях и грунте росло каждое дерево.
						h3 Гарантия 2 года!
						p Мы гарантируем качество своей работы и посадочного материала. Отвечаем за правильную погрузку, транспортировку, посадку крупномеров.
						h3 Выгодно и удобно
						p Полный комплекс услуг от доставки до ландшафтного дизайна. Поставки растений напрямую из собственного питомника и в широком ассортименте.
				.category-body__block
					h3.product__title Новинки
					.row
						.category-body__product-preview.col-md-4.col-sm-6
							a.category-body__product-link(href="#")
								h3.category-body__product-title Крупномеры ели picea abies
								.category-body__box
									img.category-body__product-img(src="img/content/product_img.png", alt="")
									table.category-body__product-table
										tr
											td 60-80 c25									
											td 
												span.category-body__table-price 4500
												|  руб
										tr
											td 60-80 c25
											td 
												span.category-body__table-price 6000
												|  руб
										tr
											td 60-80 c25
											td
												span.category-body__table-price 6000
												|  руб
							.category-body__product-price-block
								a.category-body__product-buy(href="#") Купить
								p.category-body__product-price
									| Цена от:
									span.category-body__product-cost 4500
									| руб.
						.category-body__product-preview.col-md-4.col-sm-6
							a.category-body__product-link(href="#")
								h3.category-body__product-title Крупномеры ели picea abies
								.category-body__box
									img.category-body__product-img(src="img/content/product_img.png", alt="")
									table.category-body__product-table
										tr
											td 60-80 c25									
											td 
												span.category-body__table-price 4500
												|  руб
										tr
											td 60-80 c25
											td 
												span.category-body__table-price 6000
												|  руб
										tr
											td 60-80 c25
											td
												span.category-body__table-price 6000
												|  руб
							.category-body__product-price-block
								a.category-body__product-buy(href="#") Купить
								p.category-body__product-price
									| Цена от:
									span.category-body__product-cost 4500
									| руб.
						.category-body__product-preview.col-md-4.col-sm-6
							a.category-body__product-link(href="#")
								h3.category-body__product-title Крупномеры ели picea abies
								.category-body__box
									img.category-body__product-img(src="img/content/product_img.png", alt="")
									table.category-body__product-table
										tr
											td 60-80 c25									
											td 
												span.category-body__table-price 4500
												|  руб
										tr
											td 60-80 c25
											td 
												span.category-body__table-price 6000
												|  руб
										tr
											td 60-80 c25
											td
												span.category-body__table-price 6000
												|  руб
							.category-body__product-price-block
								a.category-body__product-buy(href="#") Купить
								p.category-body__product-price
									| Цена от:
									span.category-body__product-cost 4500
									| руб.
				.main__text-block
					p Существует множество способов декорирования территории: хвойные и плодовые крупномеры, создание альпийских горок, клумбы и газоны и другие.
					p Чтобы получить стильный и ухоженный садовый участок, который бы гармонировал с архитектурой дома, вам не обязательно ждать долгие годы в кропотливой работе над выращиванием небольших хрупких растений. Вам достаточно обратиться в компанию «Зеленый дворик» и наши специалисты помогут вам выбрать саженцы крупномеры и за считанные дни изменить вашу территорию до неузнаваемости. Мы превратим её из пустынной площадки в настоящий оазис.
					h2.subtitle Наши преимущества
					ul
						li Качество. У нас вы можете купить крупномеры, о состоянии которых вам не нужно волноваться.
						li Доставка. Производится с учетом всех необходимых предосторожностей: мы заинтересованы в сохранности растений и не допустим небрежности в погрузке.
						li Посадка. Мы готовы высадить декоративные крупномеры своими силами. Вы можете быть уверены, что будет соблюдена технология и учтены особенности вашего участка, климата и почвы.
						li Обработка от вредителей. Наши специалисты готовы провести обработку саженцев от вредителей, а также проконсультировать вас в случае, если вы хотите ухаживать за деревьями самостоятельно.
						li Профессионализм. Вы можете просто указать нам расположение высадки плодовых или хвойных крупномеров или же воспользоваться услугами ландшафтного дизайна. Над разработкой вашего участка будут работать настоящие профессионалы своего дела.
						li Гарантия. На всю продукцию нашего питомника и весь спектр работ мы предоставляем гарантию 2 года.
						li Собственное хозяйство.
					strong Наши консультанты готовы помочь вам. Для получения всей интересующей вас информации звоните по телефонам 8-916-636-85-28 (Сергей) или 8-916-241-25-79 (Валентина).
					p
						a.main__download-price(href="#") Скачать прайс-лист на все растения
					p Нам очень важно ваше доверие, поэтому, обращаясь в компанию «Зеленый дворик», вы встретите внимательных специалистов, готовых помочь вам в обустройстве участка.