extends _layout
block content
	.container
		.row
			include includes/_main-sidebar
			// контент
			.main-content.col-md-9
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							span.breadcrumbs__current-link Мой кабинет
				.main__text-block
					p В личном кабинете Вы можете проверить текущее состояние корзины, ход выполнения Ваших заказов, просмотреть или изменить личную информацию, а также подписаться на новости и другие информационные рассылки.
					h2.title Личная информация
					a(href="#") Изменить регистрационные данные
					h2.title Заказы
					p
						a(href="#") Ознакомиться с состоянием заказов
					p
						a(href="#") Посмотреть содержимое корзины
					p
						a(href="#") Посмотреть историю заказов
					h2.title Подписка
					a(href="#") Изменить подписку