extends _layout
block content
	.container
		.row
			// sidebar
			.right-sidebar.pull-right.col-lg-3.clearfix
				.right-sidebar-inner
					.right-sidebar__header
						a.right-sidebar__main-link(href="#") Саженцы от а до я
					.right-sidebar__block
						h3.right-sidebar__block-title Плодово-ягодные крупномеры
						ul.right-sidebar__block-list.list-inline
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Айва
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Абрикос
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Алыча
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Боярышник
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Вишня
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Голубика
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Груша
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Жимолость
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ирга
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Калина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Cмородина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Крыжовник
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Облепиха
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Рябина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Слива
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Смородина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Черешня
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Чернослив
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Яблоня
					.right-sidebar__block
						h3.right-sidebar__block-title Хвойные и декоративные крупномеры
						ul.right-sidebar__block-list.list-inline
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ель
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Сосна
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Туя
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Береза
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Липа
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Сирень
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ива
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Каштан
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Клен
						.right-sidebar__preorder-block
							a.right-sidebar__block-preorder(href="#") Дуб (под заказ)
							a.right-sidebar__block-preorder(href="#") Элитный кедр (под заказ)
							a.right-sidebar__block-preorder(href="#") Лиственница (под заказ)
					.right-sidebar__block
						h3.right-sidebar__block-title Кустарники и лианы
						ul.right-sidebar__block-list.list-inline
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Актинидия
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Барбарис
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Брусника
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Бузина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Виноград
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Гортензия
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ежевика
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Жасмин
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Земляника
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ирис
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Клубника
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Клюква
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Лещина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Лимонник
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Малина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Можжевельник
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Орех
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Фундук
				.right-sidebar-inner
					.right-sidebar__quick-link-block
						h3.right-sidebar__quick-link-title Быстрые ссылки
						a.right-sidebar__quick-link(href="#") Хвойные деревья
						a.right-sidebar__quick-link(href="#") Создание альпийских горок
						a.right-sidebar__quick-link(href="#") Газоны и клумбы
						a.right-sidebar__quick-link(href="#") Хвойные деревья
						a.right-sidebar__quick-link(href="#") Создание альпийских горок
						a.right-sidebar__quick-link(href="#") Газоны и клумбы
				.right-sidebar__banner-block
					a(href="#")
						img.right-sidebar__banner(src="img/content/sidebar_banner.jpg", alt="")
			// контент
			.main-content.col-lg-9
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							span.breadcrumbs__current-link Мой кабинет
				.main__text-block
					p В личном кабинете Вы можете проверить текущее состояние корзины, ход выполнения Ваших заказов, просмотреть или изменить личную информацию, а также подписаться на новости и другие информационные рассылки.
					h2.title Личная информация
					a(href="#") Изменить регистрационные данные
					h2.title Заказы
					p
						a(href="#") Ознакомиться с состоянием заказов
					p
						a(href="#") Посмотреть содержимое корзины
					p
						a(href="#") Посмотреть историю заказов
					h2.title Подписка
					a(href="#") Изменить подписку