extends _layout
block content
	.container
		.row
			include includes/_main-sidebar
			// контент
			.main-content.col-md-9.col-sm-8
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Мой кабинет
						li.breadcrumbs__item
							span.breadcrumbs__current-link Настройки пользователя
				.main__text-block
					.row
						.col-md-6
							form(action="#" method="post")
								h2.title Личные данные
								label.modal__label Имя
								input.modal__input(type="text")
								label.modal__label Фамилия
								input.modal__input(type="text")
								h2.title Пароль
								label.modal__label Новый пароль
								input.modal__input(type="password")
								label.modal__label Подтверждение пароля
								input.modal__input(type="password")
								input.modal__submit(type="submit" value="Сохранить настройки")