extends _layout
block content
	.container
		.row
			// sidebar
			.right-sidebar.pull-right.col-lg-3.clearfix
				.right-sidebar-inner
					.right-sidebar__header
						a.right-sidebar__main-link(href="#") Саженцы от а до я
					.right-sidebar__block
						h3.right-sidebar__block-title Плодово-ягодные крупномеры
						ul.right-sidebar__block-list.list-inline
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Айва
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Абрикос
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Алыча
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Боярышник
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Вишня
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Голубика
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Груша
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Жимолость
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ирга
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Калина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Cмородина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Крыжовник
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Облепиха
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Рябина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Слива
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Смородина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Черешня
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Чернослив
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Яблоня
					.right-sidebar__block
						h3.right-sidebar__block-title Хвойные и декоративные крупномеры
						ul.right-sidebar__block-list.list-inline
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ель
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Сосна
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Туя
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Береза
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Липа
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Сирень
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ива
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Каштан
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Клен
						.right-sidebar__preorder-block
							a.right-sidebar__block-preorder(href="#") Дуб (под заказ)
							a.right-sidebar__block-preorder(href="#") Элитный кедр (под заказ)
							a.right-sidebar__block-preorder(href="#") Лиственница (под заказ)
					.right-sidebar__block
						h3.right-sidebar__block-title Кустарники и лианы
						ul.right-sidebar__block-list.list-inline
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Актинидия
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Барбарис
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Брусника
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Бузина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Виноград
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Гортензия
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ежевика
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Жасмин
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Земляника
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Ирис
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Клубника
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Клюква
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Лещина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Лимонник
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Малина
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Можжевельник
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Орех
							li.right-sidebar__block-item
								a.right-sidebar__block-link(href="#") Фундук
				.right-sidebar-inner
					.right-sidebar__quick-link-block
						h3.right-sidebar__quick-link-title Быстрые ссылки
						a.right-sidebar__quick-link(href="#") Хвойные деревья
						a.right-sidebar__quick-link(href="#") Создание альпийских горок
						a.right-sidebar__quick-link(href="#") Газоны и клумбы
						a.right-sidebar__quick-link(href="#") Хвойные деревья
						a.right-sidebar__quick-link(href="#") Создание альпийских горок
						a.right-sidebar__quick-link(href="#") Газоны и клумбы
				.right-sidebar__banner-block
					a(href="#")
						img.right-sidebar__banner(src="img/content/sidebar_banner.jpg", alt="")
			// контент
			.main-content.col-lg-9
				.main-slider__block
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
				h1.title Питомник плодовых деревьев из Мичуринска
				.main__text-block
					p Создавать посадочный материал самого высокого качества и всегда предоставлять покупателям хороший выбор – для нашей компании эти задачи являются первостепенными. И мы уже не первый год успешно с ними справляемся!
					p Имея собственный питомник плодовых деревьев в Мичуринске, наша компания способна гарантировать покупателям в Москве по-настоящему безупречное качество саженцев. И, конечно же, потрясающее их разнообразие!
				.visual-area__block.universal-slider
					.visual-area__inner-block
						a.fancybox(href="img/content/about_img_9.jpg" rel="visual")
							img.visual-area__img(src="img/content/about_img_9.jpg", alt="")
					.visual-area__inner-block
						a.fancybox(href="img/content/about_img_2.jpg" rel="visual")
							img.visual-area__img(src="img/content/about_img_2.jpg", alt="")
					.visual-area__inner-block
						a.fancybox(href="img/content/about_img_9.jpg" rel="visual")
							img.visual-area__img(src="img/content/about_img_9.jpg", alt="")
					.visual-area__inner-block
						a.fancybox(href="img/content/about_img_2.jpg" rel="visual")
							img.visual-area__img(src="img/content/about_img_2.jpg", alt="")
					.visual-area__inner-block
						a.fancybox(href="img/content/about_img_9.jpg" rel="visual")
							img.visual-area__img(src="img/content/about_img_9.jpg", alt="")
					.visual-area__inner-block
						a.fancybox(href="img/content/about_img_2.jpg" rel="visual")
							img.visual-area__img(src="img/content/about_img_2.jpg", alt="")
				.main__text-block
					p Мичуринский плодопитомник уже многие годы пользуется отличной репутацией во всем мире, по этой причине, выбирая саженцы для своего участка, очень многие опытные садоводы стремятся заказать большие плодовые деревья для Подмосковья, выращенные именно здесь.
				.category-body__block
					h3.product__title Рекомендуемые растения
					.row
						.category-body__product-preview.col-lg-4
							a.category-body__product-link(href="#")
								h3.category-body__product-title ель picea abies
								.category-body__box
									img.category-body__product-img(src="img/content/product_img.png", alt="")
									table.category-body__product-table
										tr
											td 60-80 c25									
											td 
												span.category-body__table-price 4500
												|  руб
										tr
											td 60-80 c25
											td 
												span.category-body__table-price 6000
												|  руб
										tr
											td 60-80 c25
											td
												span.category-body__table-price 6000
												|  руб
							.category-body__product-price-block
								a.category-body__product-buy(href="#") Купить
								p.category-body__product-price
									| Цена от:
									span.category-body__product-cost 4500
									| руб.
						.category-body__product-preview.col-lg-4
							a.category-body__product-link(href="#")
								h3.category-body__product-title ель picea abies
								.category-body__box
									img.category-body__product-img(src="img/content/product_img.png", alt="")
									table.category-body__product-table
										tr
											td 60-80 c25									
											td 
												span.category-body__table-price 4500
												|  руб
										tr
											td 60-80 c25
											td 
												span.category-body__table-price 6000
												|  руб
										tr
											td 60-80 c25
											td
												span.category-body__table-price 6000
												|  руб
							.category-body__product-price-block
								a.category-body__product-buy(href="#") Купить
								p.category-body__product-price
									| Цена от:
									span.category-body__product-cost 4500
									| руб.
						.category-body__product-preview.col-lg-4
							a.category-body__product-link(href="#")
								h3.category-body__product-title ель picea abies
								.category-body__box
									img.category-body__product-img(src="img/content/product_img.png", alt="")
									table.category-body__product-table
										tr
											td 60-80 c25									
											td 
												span.category-body__table-price 4500
												|  руб
										tr
											td 60-80 c25
											td 
												span.category-body__table-price 6000
												|  руб
										tr
											td 60-80 c25
											td
												span.category-body__table-price 6000
												|  руб
							.category-body__product-price-block
								a.category-body__product-buy(href="#") Купить
								p.category-body__product-price
									| Цена от:
									span.category-body__product-cost 4500
									| руб.
				.main__text-block
					h2.subtitle Качество
					.row
						.col-lg-6
							p Наш плодовый питомник крупномеров имеет узкую специализацию. Этот момент очень важен для получения качественных результатов. Деревья в комьях из питомника (взрослые растения 3 и 5 лет) – не просто основной, но единственный ассортимент, над которым работают наши специалисты в Мичуринске. Все внимание наших селекционеров полностью сосредоточено только на этом направлении.
							p Все саженцы мы выращиваем сами – без привлечения стороннних специалистов. Мы тщательно контролируем качество грунта и знаем, в каких условиях развивается каждое растение. Кроме того, продажа плодовых деревьев с большим диаметром кроны сопровождается надежным сервисом – заказывая трехлетки или пятилетки, вы можете быть уверены в том, что погрузка и транспортировка, а при необходимости и посадка саженцев, будут выполнены абсолютно профессионально.
							p Строгий контроль соблюдения технологий на всех стадиях работы – одна из двух составляющих высокого качества продукции нашего питомника. Вторая – это возможность использовать выдающийся потенциал Мичуринского научного центра.
							p Применяя разработки ведущих отечественных ученых, специализирующихся в области растениеводства, мы продолжаем развивать свой ассортимент. Отметим, что наш каталог уже и сегодня достаточно велик, чтобы каждый садовод мог с легкостью найти растения, идеально подходящие для конкретного участка.
							h2.subtitle Как сделать заказ
							p Вас интересует, где в Москве купить плодовые деревья на дачу? Приезжайте к нам! На адрес: Москва, 92 км. МКАД, рынок «Садовод», прикоп №32.
							p Почему вам будет выгодно заказать саженцы именно у нас?
							ul
								li Образцовое качество
								li Широкий ассортимент хвойных и плодовых деревьев средней полосы
								li Гарантия 24 месяца
								li Комплексный сервис – ландшафтный дизайн, доставка, посадка
							p Для того чтобы узнать подробнее о том, какие растения из нашего Мичуринского питомника вы можете приобрести, или для того чтобы сделать заказ, позвоните нам. Наши номера: 8-916-636-85-28 и 8-916-241-25-79.
							p Мы ждем вас!
						.col-lg-6
							.land__block
								h3.land__title Наш участок земли в Мичуринске
								p.land__text Наш участок расположен у села Турмасово в районе животноводческих ферм в 10 км от Мичуринска.
								.main__mini-map
									<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=WC5O8KJKOhBbSqbyVwiNUa5R7vTaNMee&width=100%&height=100%&lang=ru_UA&sourceType=constructor"></script>
							.land__block
								h3.land__title Постановление о предоставлении земли
								p.land__text Земля предоставлена нам в долгосрочную аренду на 49 лет с возможностью дальнейшей пролонгации.
								br
								a.fancybox(href="img/dogovor-uchastok.jpg")
									img.land__img(src="img/dogovor-uchastok_s.jpg", alt="")
				.main__text-block
					blockquote Внимание! Имя нашей компании стало использоваться недобросовестными продавцами посадочного материала. Предупреждаем, что мы не имеем к ним никакого отношения и работаем только по контактам, указанным на нашем сайте!
					a.main__download-price(href="#") Скачать прайс-лист на все растения
				.category__advice-block
					h3.category__advice-title Советы
					p.category__intro-text Выбирая крупномер, ориентируйтесь не только на свой вкус, но и на возможности сада. Походите по окружающей местности, посмотрите, какие растения в ней лучше приживаются, поспрашивайте соседей. Но, главное, прислушивайтесь к <a href="#">мнению профессионалов!</a> У нас продажа мичуринских крупномеров всегда сопровождается консультацией грамотных специалистов.