extends _layout
block content
	.container
		.row
			include includes/_main-sidebar
			// контент
			.main-content.col-md-9.col-sm-8
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							span.breadcrumbs__current-link Цены
				.main-slider__block
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
				h1.title Цены
				.main__text-block
					a.main__show-table(href="javascript:void(0);") Показать все цены
					.main__table-wrapper
						ul.anchor__list
							//- li.anchor__item
							//- 	a.anchor__link(href="#") ПРАЙС –ЛИСТ
							li.anchor__item
								a.anchor__link(href="#") Цены на плодово-ягодные крупномеры
							li.anchor__item
								a.anchor__link(href="#") Цены на декоративные и хвойные крупномеры
							li.anchor__item
								a.anchor__link(href="#") Декоративка дополнительно
						br
						h2.subtitle ПРАЙС –ЛИСТ
						h3 Плодово-ягодные крупномеры на любой вкус!
						.main__table-price-wrap
							table.main__table-price
								tr.main__table-price-head
									th Наименование
									th Возраст
									th Цена (руб.)
									th Возраст
									th Цена (руб.)
									th Возраст
									th Цена (руб.)
									th Возраст
									th Цена (руб.)
								tr
									td.main__table-price-name Яблоня
									td 
									td 
									td 6 лет
									td 7000-10000
									td 7 лет
									td 10000-12000
									td 8 лет
									td 15000-16000
								tr
									td Летние сорта: Медуница, Белый налив, Мантет, Грушовка московская, Мелба, Китайка Золотая Ранняя
									td
									td
									td
									td
									td
									td
									td
									td
								tr
									td Осенние сорта: Вишневое, Беркутовское, Венньминовское, Строевское, Штрефлинг, Скала, Оранжевое, Скороплодное Осеннее Полосатое
									td
									td
									td
									td
									td
									td
									td
									td
								tr
									td Зимние сорта: Богатырь, Антоновка, Мартовское
									td
									td
									td
									td
									td
									td
									td
									td
								tr
									td.main__table-price-name Груша
									td 
									td 
									td 6 лет
									td 8000
									td 7 лет
									td 12000-14000
									td 8 лет
									td 16000-20000
								tr
									td Летние сорта: Чижовская, Лада, Лесная красавица, Скороспелка Мичуринская, Августовская роса, Дюшес
									td
									td
									td
									td
									td
									td
									td
									td
								tr
									td Осенние сорта: Любимица Яковлева, Память Яковлева, Мраморная, Академическая Татьяна, Ника
									td
									td
									td
									td
									td
									td
									td
									td
								tr
									td.main__table-price-name Вишня
									td 
									td 
									td 6 лет
									td 7000-8000
									td 7 лет
									td 9000-12000
									td 8-9 лет
									td 14000-17000
								tr
									td Сорта: Владимирская,Любская, Тургеневская, Жуковская, Молодежная, Морозовская, Харитоновская Черная крупноплодная, Черная Россошанская
									td
									td
									td
									td
									td
									td
									td
									td
								tr
									td.main__table-price-name Слива
									td 
									td 
									td 6 лет
									td 7000-8000
									td 7 лет
									td 10000-12000
									td 8-9 лет
									td 16000-18000
								tr
									td Конфетная, Компотная, Стартовая, Артистичная, Аллейная, заречная раняя, светлячок радость, Коллективная, Ютюд, Ренклод колхозный, Евразия Артистичная, Аллейная, заречная раняя, Светлячок, Радость, Коллективная, Этюд Ренклод колхозный
									td
									td
									td
									td
									td
									td
									td
									td
								tr
									td.main__table-price-name Черешня
									td 
									td 
									td 
									td 
									td 7-8 лет
									td 
									td 8-9 лет
									td 14000-16000
								tr
									td Сорта: Фатеж, Ревна, Ипуть
									td
									td
									td
									td
									td
									td
									td
									td
								tr
									td.main__table-price-name Абрикос
									td 3 года
									td 2000
									td 6 лет
									td 10000
									td 7 лет
									td 12000
									td 8 лет
									td 16000
								tr
									td Сын Краснощекого, Погремок
									td
									td
									td
									td
									td
									td
									td
									td
								tr.main__table-price-head
									th(colspan="9" style="padding:7px 0;") Ягодные кустарники
								tr
									td.main__table-price-name Смородина черная
									td 2 года
									td 450
									td 3 года
									td 600
									td 4 года
									td 2000
									td 5 лет
									td 3000
								tr
									td Орловский вальс, Ядреная, Дачница, Лентяй, Перун
									td
									td
									td
									td
									td
									td
									td
									td
								tr
									td.main__table-price-name Смородина красная
									td 2 года
									td 450
									td 3 года
									td 600
									td 4 года
									td 2500
									td 5 лет
									td 3000
								tr
									td Сорта: Натали, Сахарная, Голландская красная, Сладкая ранняя
									td
									td
									td
									td
									td
									td
									td
									td
								tr
									td.main__table-price-name Смородина белая
									td 2 года
									td 450
									td 3 года
									td 600
									td 4 года
									td 2000
									td 5 лет
									td 3000
								tr
									td Сорт: Версальская, Баяна
									td
									td
									td
									td
									td
									td
									td
									td
								tr
									td.main__table-price-name Смородина розовая
									td 
									td 
									td 
									td 
									td 4 года
									td 2000
									td 
									td 
								tr
									td Сорт: Галландская Розовая
									td
									td
									td
									td
									td
									td
									td
									td
								tr
									td.main__table-price-name Крыжовник
									td 
									td 
									td 3 года
									td 800
									td 4 года
									td 2000
									td 5-6 лет
									td 3000-5000
								tr
									td Сорт: Черномор, Колобок, Малахит, Консул, Английский желтый, Русский, Русский желтый, Краснославянский Краснославянский
									td
									td
									td
									td
									td
									td
									td
									td
								tr
									td.main__table-price-name Жимолость съедобная
									td 
									td 
									td 3 года
									td 700
									td 4 года
									td 3000
									td 5-6 лет
									td 5000-8000
								tr
									td Сорта: Лакомка, Синяя птица, Кулон, Нижегородская ранняя, Челябинская
									td
									td
									td
									td
									td
									td
									td
									td
								tr
									td.main__table-price-name Голубика
									td 
									td 
									td 3 года
									td 1500
									td 4 года
									td 2000
									td 9 лет
									td 9000
								tr
									td Сорта: Блюрей, Блюкроп, Северная земля
									td
									td
									td
									td
									td
									td
									td
									td
								tr
									td.main__table-price-name Малина обыкновенная
									td 2 года
									td 150-200
									td 
									td 
									td 
									td 
									td 
									td 
								tr
									td Сорт: Новость Кузьмина, Гордость Росии, Гусар, Киржач
									td
									td
									td
									td
									td
									td
									td
									td
								tr
									td.main__table-price-name Малина обыкновенная желтая
									td 2 года
									td 350
									td 
									td 
									td 
									td 
									td 
									td 
								tr
									td Сорт: Беглянка
									td
									td
									td
									td
									td
									td
									td
									td
								tr
									td.main__table-price-name Малина ремонтантная
									td 2 года
									td 450
									td 3 года
									td 1500
									td 4 года
									td 2000-3000
									td 
									td
								tr
									td Сорт: Геракл, Брянское диво, Пингвин, Оранжевое чудо
									td
									td
									td
									td
									td
									td
									td
									td
								tr
									td.main__table-price-name Ежевика бесшипная Торнфри
									td 2 года
									td 600
									td 3 года
									td 1200
									td 
									td 
									td 
									td
								tr
									td.main__table-price-name Актинидия
									td 2 года
									td 600
									td 
									td 
									td 
									td 
									td 
									td
								tr
									td.main__table-price-name Лимонник
									td 1 год
									td 500
									td 
									td 
									td 
									td 
									td 
									td
								tr
									td.main__table-price-name Облепиха
									td 2 года
									td 450
									td 4 года
									td 900
									td 8 лет
									td 6000
									td 
									td
								tr
									td Сорт: Солнышко, Красавица Нечерноземья, Гордость ЦГЛ
									td
									td
									td
									td
									td
									td
									td
									td
								tr
									td.main__table-price-name Клюква
									td
									td 450
									td
									td
									td
									td
									td
									td
								tr
									td.main__table-price-name Калина
									td 5 лет
									td 2500
									td 8 лет
									td 4000
									td
									td
									td
									td
								tr
									td.main__table-price-name Вишня войлочная
									td 6 лет
									td 4000
									td
									td
									td
									td
									td
									td
								tr
									td.main__table-price-name Ирга
									td 3 года
									td 600
									td 5 лет
									td 2500
									td 8 лет
									td 6000
									td
									td
								tr
									td.main__table-price-name Боярышник
									td 3 лет
									td 500
									td 8 лет
									td 10000
									td
									td
									td
									td
								tr
									td.main__table-price-name Айва японская
									td 3 года
									td 500
									td
									td
									td
									td
									td
									td
								tr
									td.main__table-price-name Шелковица
									td
									td
									td 7 лет
									td 8000
									td
									td
									td
									td
								tr
									td.main__table-price-name Фундук
									td 5 лет
									td 3500
									td ком
									td 6000
									td
									td
									td
									td
						h2.subtitle Цены на декоративные и хвойные крупномеры.
						p Наши расценки на посадочный материал крупномеров выгодно отличается от цен конкурентов, а качество находится на высочайшем уровне.
						.main__table-price-wrap
							table.main__table-price
								tbody
									tr
										td(rowspan="2")
											p(align='center')
												strong Крупномеры
											p(align='center') (с комом земли)
										td(valign='middle', rowspan="2")
											p(align='center')
												strong Высота м.
										td(colspan="2")
											p(align='center')
												strong Цена руб.
									tr
										td
											div(align='center')
												strong без посадки
										td
											div(align='center')
												strong с посадкой и гарантией 2 года
									tr
										td(valign='top', rowspan="9")
											p Ель обыкновенная
										td
											div(align='center') 1,5-2,0
										td
											div(align='center') 5.000
										td(valign='middle', rowspan="8")
											div(align='center')
												strong 50% от стоимости материала
									tr
										td
											div(align='center') 2,0-3,0
										td
											div(align='center') 6.000-8.000
									tr
										td
											div(align='center') 3,0-4,0
										td
											div(align='center') 8.000-12.000
									tr
										td
											div(align='center') 4,0-5,0
										td
											div(align='center') 12.000-15.000
									tr
										td
											div(align='center') 5,0-6,0
										td
											div(align='center') 15.000-25.000
									tr
										td
											div(align='center') 6,0-7,0
										td
											div(align='center') 35.000-40.000
									tr
										td
											div(align='center') 7,0-8,0
										td
											div(align='center') 50.000-60.000
									tr
										td
											div(align='center') 8,0-9,0
										td
											div(align='center') 65.000-80.000
									tr
										td
											div(align='center') 9,0 -
										td(colspan="2")
											p(align='center') цена договорная
									tr
										td(valign='top', rowspan="6")
											p Сосна обыкновенная
										td
											div(align='center') 1,5-2,0
										td
											div(align='center') 3.000
										td(rowspan="6")
											div(align='center')
												strong 50% от стоимости материала
									tr
										td
											div(align='center') 2,0-3,03
										td
											div(align='center') 4.000
									tr
										td
											div(align='center') 3,0-4,0
										td
											div(align='center') 6.000-10.000
									tr
										td
											div(align='center') 4,0-5,0
										td
											div(align='center') 10.000-15.000
									tr
										td
											div(align='center') 5,0-6,0
										td
											div(align='center') 20.000-25.000
									tr
										td
											div(align='center') 6,0-7,0
										td
											div(align='center') 45.000-50.000
									tr
										td(valign='top', rowspan="3")
											| "Береза бородавчатая кустовая, Липа крупнолистная
											br
											| Дуб черешчатый"
										td
											div(align='center') 3,0-4,0 
										td
											div(align='center') 6.000-8.000
										td(rowspan="1")
											p(align='center')
												strong 50% от стоимости материала
									tr
										td
											div(align='center') 4,0-5,0
										td
											div(align='center') 8.000-11.000
									tr
										td
											div(align='center') 4,0-5,0
										td
											div(align='center') 12.000-14.000
									tr
										td(valign='top') Ива плакучая
										td
											div(align='center') 2,5-3,5
										td
											div(align='center') 6.000-8.000
									tr
										td(valign='top', rowspan="5") Лиственница сибирская
										td
											div(align='center') 4,0-5,0
										td
											div(align='center') 10.000-12.000
										td(rowspan="5")
											p(align='center')
												strong 50% от стоимости материала
									tr
										td
											div(align='center') 5,0-6,0
										td
											div(align='center') 15.000-20.000
									tr
										td
											div(align='center') 6,0-7,0
										td
											div(align='center') 20.000-30.000	
									tr
										td
											div(align='center') 7,0-8,0
										td
											div(align='center') 35.000-50.000	
									tr
										td
											div(align='center') 8,0-9,0
										td
											div(align='center') 55.000-80.000
									tr
										td(rowspan="2") Кедр сибирский
										td
											div(align='center') 2,0 - 2,5
										td
											div(align='center') 12.000-15.000	
									tr
										td
											div(align='center') 15.000/м.	
						.main__table-price-wrap
							table.main__table-price
								tr
									td
										p(align='center')
											strong Наименование
									td(valign='middle')
										p(align='center')
											strong Упаковка
									td
										p(align='center')
											strong Высота(м)
									td
										p(align='center')
											strong Цена (руб) 
									td(rowspan='8')
										p(align='center')
											strong с посадкой и гарантией 2 года		  
								tr
									td(valign='top')
										p Клен серебристый
									td
										div(align='center') ком
									td
										div(align='center') 5.5-6.0
									td
										div(align='center') 20 000
								tr
									td(valign='top')
										p Клен серебристый
									td
										div(align='center') ком
									td
										div(align='center') 2.7- 3.0
									td
										div(align='center') 10 000
								tr
									td(valign='top')
										p Клен остролистный
									td
										div(align='center') ком
									td
										div(align='center') 2.8-3.0
									td
										div(align='center') 8 000
								tr
									td(valign='top')
										p Черемуха обыкновенная
									td
										div(align='center') ком
									td
										div(align='center') 2.2-2.5
									td
										div(align='center') 8 000
								tr
									td(valign='top')
										p Черемуха Виргинская
									td
										div(align='center') ком
									td
										div(align='center') 2.0
									td
										div(align='center') 8 000 
								tr
									td(valign='top')
										p Черемуха Маака
									td
										div(align='center') ком
									td
										div(align='center') 2.5-3.0
									td
										div(align='center') 10 000
								tr
									td(valign='top')
										p Дуб северный красный
									td
										div(align='center') ком
									td
										div(align='center') 3.0
									td
										div(align='center') 12 000
						h3 Способы оплаты
						ul
							li Оплата на р/с.
							li На карту Сбербанка.
							li Наличными при получении товара.
						h3 Доставка товара и стоимость доставки
						p Стоимость доставки товара а/м Газель составляет 60 руб./ км. В пределах Москвы и Московской области. 
						p Доставка в другие города – стоимость и вид транспорта по договоренности.
						p Крупномерный посадочный материал – доставка краном-манипулятором по договорной цене.
						br
						h2.subtitle Декоративка дополнительно
						.main__table-price-wrap
							table.main__table-price
								tr
									td Название растений
									td
										| Конт-р
										br
									td Размер
									td РОЗ
								tr
									td(colspan='4')
										strong Лиственные растения
								tr
									td Азалия японская 
									td С5
									td  
									td 1800
								tr
									td Азалия японская 
									td С9
									td  
									td 3200
								tr
									td Азалия японская 
									td С20
									td  
									td 6800
								tr
									td Азалия японская 
									td С45
									td  
									td 16000
								tr
									td Азалия японская 
									td С65
									td  
									td 22000
								tr
									td Айва превосходная "Crimson and Gold"
									td C2
									td 20-30
									td 380
								tr
									td Айва превосходная "Pink Lady"
									td C2
									td 20-30
									td 380
								tr
									td Бересклет крылатый
									td С30
									td 100-125
									td 7800
								tr
									td Бересклет крылатый
									td С35
									td 150+
									td 14400
								tr
									td Бересклет крылатый
									td С50
									td 100-125
									td 9800
								tr
									td Бересклет крылатый
									td C25
									td 120-140
									td 7800
								tr
									td Бересклет крылатый
									td C110
									td 175-200
									td 18000
								tr
									td Бересклет крылатый
									td C12
									td 80-100
									td 4200
								tr
									td Боярышник "Paul"s Scarlet"     
									td Sol 3xv mDb
									td 200-250
									td 16000
								tr
									td Гортензия древовидная ""White Dome""
									td  B 
									td 90-110
									td 2400
								tr
									td Гортензия метельчатая "Kyushu"
									td B
									td 70-90
									td 2400
								tr
									td Гортензия метельчатая "Grandiflora"     
									td Sol 3xv mDb
									td 100-125
									td 6800
								tr
									td Гортензия метельчатая "Limelight"     
									td Sol 3xv mDb
									td 100-125
									td 6800
								tr
									td Дерен белый "Elegantissima"
									td C3
									td 60-80
									td 460
								tr
									td Дерен белый "Elegantissima"
									td B
									td 120-140
									td 2400
								tr
									td Дерен белый "Spaethii"
									td C3
									td 40-60
									td 380
								tr
									td Дерен белый "Elegantissima"    
									td Sol 3xv mDb
									td 125-150
									td 4800
								tr
									td Дерен белый "Elegantissima"    
									td Sol 3xv mB
									td 150-175
									td 5500
								tr
									td Дерен белый "Elegantissima"     
									td Sol 3xv mB
									td 100-125
									td 3600
								tr
									td Дерен белый "Sibirica"    
									td Sol 3xv mB
									td 100-125
									td 3600
								tr
									td Дерен белый "Spaethii"     
									td Sol 3xv mDb
									td 100-125
									td 3600
								tr
									td Дуб красный
									td Sol 3xv mDb 2- 3 Gst.
									td 250-300
									td 26000
								tr
									td Дуб чересчатый
									td С90
									td дек.14
									td 15500
								tr
									td Жимолость татарская
									td Sol 3xv mB
									td 125-150
									td 3600
								tr
									td Ива белая
									td Sol 4xv mDb mehrst.    150-200 x
									td 300-350
									td 18000
								tr
									td Ирга ламарка
									td Sol 3xv mDb
									td 100-125
									td 4800
								tr
									td Каштан конский
									td B+S
									td 16-18
									td 22000
								tr
									td Каштан конский
									td С90
									td дек.14
									td 12400
								tr
									td Каштан конский
									td H 3xv mDb
									td 14-16
									td 14400
								tr
									td Кизильник блестящий
									td С12
									td 120-140
									td 960
								tr
									td Клён гинала
									td Sol 3xv mDb mehrst.
									td 125-150
									td 4800
								tr
									td Клён красный rubrum    
									td Sol 3xv mDb
									td 300-350
									td 26000
								tr
									td Клён красный rubrum      
									td H 3xv mDb
									td 14-16
									td 18000
								tr
									td Клён остролистный
									td Sol 3xv mDb
									td 350-400
									td 21000
								tr
									td Клён остролистный 
									td B+S
									td 20-25
									td 28000
								tr
									td Клён остролистный CRIMSON CENTRY
									td B+S
									td 180-200
									td 16800
								tr
									td Клён остролистный CRIMSON CENTRY
									td B+S
									td 200-250
									td 18400
								tr
									td Клён остролистный CRIMSON KING
									td B+S
									td 200-250
									td 16800
								tr
									td Клён остролистный "Drummondii"     
									td Stbu. 3xv mDb
									td дек.14
									td 24000
								tr
									td Клён остролистный Drumondii
									td B+S
									td 14-16
									td 18000
								tr
									td Клён остролистный Royal Red
									td B+S
									td 20-25
									td 38000
								tr
									td Клён остролистный Royal Red
									td B+S
									td 14-16
									td 18000
								tr
									td Клён серебристый
									td B+S
									td 250-300
									td 12500
								tr
									td Клён серебристый
									td B+S
									td 300-350
									td 14400
								tr
									td Клён серебристый
									td B+S
									td 18-20
									td 24000
								tr
									td Клён серебристый
									td С60
									td дек.14
									td 12500
								tr
									td Клён серебристый 
									td H 3xv mDb
									td 14-16
									td 18000
								tr
									td Лещина maxima "Purpurea"    
									td Sol 3xv mB
									td 200-250
									td 12500
								tr
									td Липа европейская Pallida
									td B+S
									td 30-35
									td 75000
								tr
									td Липа европейская Pallida
									td C60
									td 14-16
									td 10500
								tr
									td Липа европейская "Pallida"     
									td H 3xv mDb
									td дек.14
									td 12500
								tr
									td Липа мелколистная
									td B+S
									td 250-300
									td 12500
								tr
									td Липа мелколистная
									td Sol 3xv mB 3-4 Gst.
									td 250-300
									td 18000
								tr
									td Липа серебристая Brabant
									td B+S
									td 25-30
									td 38000
								tr
									td Пузереплодник калинолистны "Luteus"
									td B
									td 180-200
									td 3600
								tr
									td Пузереплодник калинолистны"Red Baron"
									td B
									td 180-200
									td 3600
								tr
									td Пузереплодник калинолистный "Diabolo" PBR
									td B
									td 180-200
									td 3600
								tr
									td Пузереплодник калинолистный"Dart`s Gold
									td  B 
									td 180-200
									td 3600
								tr
									td Пузыреплодник калинолистный "Diabolo"  
									td Sol 3xv mB
									td 125-150
									td 4800
								tr
									td Рябина обыкновенная Wetra
									td С30
									td 10.дек
									td 8600
								tr
									td Сирень "Andenken an Ludwig Spath"
									td C20
									td 80-100
									td 2800
								tr
									td Сирень "Andenken an Ludwig Spath"
									td C25
									td 100-125
									td 3200
								tr
									td Сирень "Charles Joly"
									td C20
									td 80-100
									td 2800
								tr
									td Сирень "Charles Joly"
									td C25
									td 100-125
									td 3200
								tr
									td Сирень "Krasavitsa Moskvy"
									td C15
									td 60-80
									td 2400
								tr
									td Сирень "Krasavitsa Moskvy"
									td C25
									td 100-125
									td 3200
								tr
									td Сирень "Michel Buchner"
									td C20
									td 80-100
									td 2800
								tr
									td Сирень "Michel Buchner"
									td C25
									td 100-125
									td 3200
								tr
									td Сирень "Mme Lemoine"
									td C20
									td 80-100
									td 2800
								tr
									td Сирень "Mme Lemoine"
									td C25
									td 100-125
									td 3200
								tr
									td Сирень "Sensation"
									td C20
									td 80-100
									td 2800
								tr
									td Сирень "Sensation"
									td C25
									td 100-125
									td 3200
								tr
									td Сирень "Andenken an Ludwig Späth"     
									td Sol 3xv mDb
									td 150-175
									td 12500
								tr
									td Сирень "Charles Joly"    
									td Sol 3xv mDb
									td 150-175
									td 12500
								tr
									td Сирень "Katharine Havemeyer"     
									td Sol 3xv mDb
									td 150-175
									td 12500
								tr
									td Сирень "Michel Buchner"    
									td Sol 3xv mDb
									td 150-175
									td 12500
								tr
									td Сирень "Mme Lemoine"     
									td Sol 3xv mDb
									td 150-175
									td 12500
								tr
									td Сирень "Prince Wolkonsky"   
									td Sol 3xv mDb
									td 150-175
									td 12500
								tr
									td Сирень "Schöne von Moskau"    
									td Sol 3xv mDb
									td 150-175
									td 12500
								tr
									td Смородина альпийская "Schmidt"    
									td Sol 3xv mB
									td 100-125
									td 3600
								tr
									td Спирея серая "Grefsheim"
									td C3
									td 40-60
									td 380
								tr
									td Спирея серая "Grefsheim"     
									td Sol 3xv mB
									td 100-125
									td 3600
								tr
									td Спирея серая "Grefsheim"     
									td Sol 3xv mB
									td 150-175
									td 8400
								tr
									td Спирея японская "Anthony Waterer"
									td C2
									td 20-30
									td 380
								tr
									td Спирея японская "Froebelii"
									td C3
									td 30-40
									td 380
								tr
									td Спирея японская "Genpei"
									td C3
									td 20-30
									td 380
								tr
									td Спирея японская "Goldflame"
									td C3
									td 30-40
									td 380
								tr
									td Спирея японская "Goldmound"
									td C3
									td 20-30
									td 380
								tr
									td Чубушник "Schneesturm"    
									td Sol 3xv mB
									td 125-150
									td 4800
								tr
									td Чубушник "Schneesturm"     
									td Sol 3xv mB
									td 200-250
									td 9800
								tr
									td Чубушник "Virginal"     
									td Sol 3xv mB
									td 125-150
									td 4800
								tr
									td Чубушник венечный
									td  B 
									td 120-140
									td 2800
								tr
									td Чубушник венечный    
									td Sol 3xv mDb
									td 125-150
									td 4800
								tr
									td Чубушник венечный     
									td Sol 3xv mB
									td 200-250
									td 6800
								tr
									td Яблоня "Dark Rosaleen" 
									td Sol 3xv mDb
									td 150-200
									td 8400
								tr
									td Яблоня "Evereste"
									td Sol 3xv mDb
									td 150-200
									td 8400
								tr
									td Яблоня "Golden Hornet" 
									td Sol 3xv mDb
									td 150-200
									td 8400
								tr
									td Яблоня "Royal Beauty"
									td H 3xv mDb
									td 14-16
									td 28000
								tr
									td Яблоня "Rudolph" 
									td Sol 3xv mDb
									td 150-200
									td 8400
								tr
									td(colspan='4')
										strong Хвойные растения
								tr
									td Ель канадская "ALBERTA GLOBE"
									td C5
									td 20-25
									td 1400
								tr
									td Ель канадская "ALBERTA GLOBE"
									td C15
									td 25-35
									td 4800
								tr
									td Ель канадская "CONICA"
									td C5
									td 60-70
									td 1400
								tr
									td Ель канадская "CONICA"
									td C2
									td 25-30
									td 360
								tr
									td Ель канадская "CONICA"
									td C5
									td 60-70
									td 1400
								tr
									td Ель канадская "DAISY"S WHITE"
									td C5
									td 35-45
									td 1400
								tr
									td Ель канадская "DENDROFARMA GOLD"
									td C5
									td 20-25
									td 1400
								tr
									td Ель канадская "DENDROFARMA GOLD"
									td C15
									td 25-35
									td 4800
								tr
									td Ель канадская "DENDROFARMA GOLD"
									td C25
									td 40-45
									td 4800
								tr
									td Ель канадская "ECHINIFORMIS"
									td C5
									td 20-25
									td 1400
								tr
									td Ель канадская "ECHINIFORMIS"
									td C15
									td 25-30
									td 4800
								tr
									td Ель канадская "LITTLE GEM"
									td C15
									td 30-40
									td 4800
								tr
									td Ель канадская "RAINBOW"S END"
									td C5
									td 60-70
									td 1400
								tr
									td Ель колючая
									td B+S
									td 160-180
									td 32000
								tr
									td Ель колючая
									td B+S
									td 180-200
									td 38000
								tr
									td Ель колючая  GLAUCA    GLOBOSA
									td B+S
									td 80-100
									td 16000
								tr
									td Ель колючая FAT ALBERT
									td B+S
									td 150-175
									td 36000
								tr
									td Ель колючая FAT ALBERT
									td B+S
									td 175-200
									td 44000
								tr
									td Ель колючая FAT ALBERT
									td B+S
									td 200-225
									td 48000
								tr
									td Ель колючая FAT ALBERT
									td B+S
									td 225-250
									td 62000
								tr
									td Ель колючая FAT ALBERT
									td B+S
									td 250-300
									td 92000
								tr
									td Ель колючая FAT ALBERT
									td B+S
									td 230-250
									td 88000
								tr
									td Ель колючая FAT ALBERT
									td B+S
									td 180-200
									td 56000
								tr
									td Ель колючая FAT ALBERT
									td B+S
									td 200-225
									td 58000
								tr
									td Ель колючая "GLAUCA"
									td B+S
									td 175-200
									td 9800
								tr
									td Ель колючая "GLAUCA"
									td C2
									td 40-50
									td 360
								tr
									td Ель колючая "GLAUCA GLOBOSA"
									td C5
									td 25-40
									td 2400
								tr
									td Ель колючая "GLAUCA GLOBOSA"
									td B
									td Ø40-50
									td 5200
								tr
									td Ель колючая "HOOPSII"
									td B+S
									td 150-175
									td 9800
								tr
									td Ель колючая "HOOPSII"
									td C10
									td 50-60
									td 2400
								tr
									td Ель колючая "HOOPSII"
									td C45
									td 1580-185
									td 8600
								tr
									td Ель колючая "ISELY FASTIGIATA"
									td B+S
									td 150-175
									td 16800
								tr
									td Ель колючая "ISELY FASTIGIATA"
									td C10
									td 40-50
									td 2400
								tr
									td Ель колючая "KAIBAB"
									td C2
									td 30-40
									td 360
								tr
									td Ель колючая "KOSTER"
									td C5
									td 50-60
									td 2400
								tr
									td Ель колючая "KOSTER"
									td C45
									td 140-160
									td 8600
								tr
									td Ель колючая "OLDENBURG"
									td C10
									td 40-50
									td 2400
								tr
									td Ель колючая "WALDBRUND"
									td C5
									td 30-35
									td 1400
								tr
									td Ель колючая "WALDBRUND"
									td C25
									td 40-45
									td 4800
								tr
									td Ель обыкновенная "BARRYI"
									td C5
									td 30-40
									td 1400
								tr
									td Ель обыкновенная "BARRYI"
									td C25
									td 50-55
									td 4800
								tr
									td Ель обыкновенная "COMPACTA"
									td C5
									td 40-50
									td 1400
								tr
									td Ель обыкновенная "COMPACTA"
									td C5
									td 40-50
									td 1400
								tr
									td Ель обыкновенная "COMPACTA"
									td C25
									td 45-55
									td 4800
								tr
									td Ель обыкновенная "COMPACTA"
									td C15
									td 60-70
									td 4800
								tr
									td Ель обыкновенная "CUPRESSINA"
									td C25
									td 70-90
									td 4800
								tr
									td Ель обыкновенная "INVERSA"
									td C5
									td 60-80
									td 2400
								tr
									td Ель обыкновенная "NIDIFORMIS"
									td B
									td 40-50
									td 2400
								tr
									td Ель обыкновенная "NIDIFORMIS"
									td C15
									td 40-50
									td 4800
								tr
									td Ель обыкновенная "PROCUMBENS"
									td C25
									td 50-55
									td 4800
								tr
									td Ель обыкновенная "PUMILA GLAUCA"
									td C5
									td 30-40
									td 1400
								tr
									td Ель обыкновенная "PUMILA NIGRA"
									td C25
									td 60-75
									td 5200
								tr
									td Ель обыкновенная "PUMILA NIGRA"
									td C15
									td 40-50
									td 5200
								tr
									td Ель обыкновенная "PUSCH"
									td C5
									td 25-30
									td 2400
								tr
									td Ель обыкновенная "TOMPA"
									td C5
									td 40-50
									td 1600
								tr
									td Ель обыкновенная "WIRGATA"
									td C25
									td 180-230
									td 7400
								tr
									td Возможно    поставка любых растений на заказ
									td  
									td  
									td  
					p
						a.main__download-price(href="#") Скачать прайс-лист на все растения
				.category__advice-block
					h3.category__advice-title Советы
					p.category__intro-text Выбирая крупномер, ориентируйтесь не только на свой вкус, но и на возможности сада. Походите по окружающей местности, посмотрите, какие растения в ней лучше приживаются, поспрашивайте соседей. Но, главное, прислушивайтесь к <a href="#">мнению профессионалов!</a> У нас продажа мичуринских крупномеров всегда сопровождается консультацией грамотных специалистов.