extends _layout
block content
	.container
		.row
			include includes/_main-sidebar
			// контент
			.main-content.col-md-9
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							span.breadcrumbs__current-link Цены
				.main-slider__block
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
				h1.title Цены
				.main__text-block
					a.main__download-price(href="#") Скачать прайс-лист на все растения
					ul.anchor__list
						li.anchor__item
							a.anchor__link(href="#") ПРАЙС –ЛИСТ
						li.anchor__item
							a.anchor__link(href="#") Цены на плодово-ягодные крупномеры
						li.anchor__item
							a.anchor__link(href="#") Цены на декоративные и хвойные крупномеры
						li.anchor__item
							a.anchor__link(href="#") Декоративка дополнительно
					.main__table-wrap

				.category__advice-block
					h3.category__advice-title Советы
					p.category__intro-text Выбирая крупномер, ориентируйтесь не только на свой вкус, но и на возможности сада. Походите по окружающей местности, посмотрите, какие растения в ней лучше приживаются, поспрашивайте соседей. Но, главное, прислушивайтесь к <a href="#">мнению профессионалов!</a> У нас продажа мичуринских крупномеров всегда сопровождается консультацией грамотных специалистов.