extends _layout
block content
	.container
		.row
			include includes/_main-sidebar
			// контент
			.main-content.col-md-9
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							span.breadcrumbs__current-link Регистрация
				.main__text-block
					h1.title Регистрация
					form(action="#" method="post")
						.row
							.col-md-6
								label.modal__label Имя
								input.modal__input(type="text")
								label.modal__label Фамилия
								input.modal__input(type="text")
								label.modal__label * Логин (мин. 3 символа):
								input.modal__input(type="text")
								label.modal__label * Пароль:
								input.modal__input(type="password")
								label.modal__label * Подтверждение пароля:
								input.modal__input(type="password")
								label.modal__label * E-Mail:
								input.modal__input(type="email")
								p * Обязательны для заполнения
						input.modal__submit(type="submit" value="Регистрация")
						br
						a.modal__remember-link.fancybox(href="#enter") Авторизация
						br
						br
						br
					.main__text-block
						h3 Соглашение об обработке персональных данных
						p Данное соглашение об обработке персональных данных составлено в соответствии с законодательством Российской Федерации.
						p Все лица подающие сведения через форму на данном сайте, а также разместившие иную информацию обозначенными действиями подтверждают свое согласие на обработку персональных данных и их передачу ИП Кривошеева Валентина Анатольевна (ИНН 682700690777).
						p Персональные данные Пользователя, переданные через данный сайт не предназначаются для передачи третьим лицам и могут быть использованы только для коммуникаций с ИП Кривошеева Валентина Анатольевна. Под персональными данными Пользователя понимается: общая информация (Имя, адрес электронной почты, номер телефона и другие контактные данные); посетители сайта направляют свои персональные данные для возможности последующей связи с ними.
						p Пользователи, принимая настоящее Соглашение, выражают свою заинтересованность и полное согласие, что обработка их персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, уничтожение.
						p Пользователь гарантирует: информация, им предоставленная, является точной и достоверной; при предоставлении информации не нарушается действующее законодательство Российской Федерации, законные права и интересы третьих лиц; вся предоставленная информация заполнена Гражданина в отношении себя лично.