extends _layout
block content
	.container
		.row
			include includes/_main-sidebar
			// контент
			.main-content.col-md-9
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							span.breadcrumbs__current-link Услуги
				.main-slider__block
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
					.main-slider__item
						img(src="img/content/greendvor_1.jpg", alt="")
				h1.title Услуги
				.main__text-block
					p
						strong Узнайте подробнее об услугах компании «Зеленый дворик»:
					p Основное направление нашей деятельности – выращивание, продажа и посадка крупномеров – взрослых плодовых и декоративных деревьев (высотой от нескольких метров), имеющих сформировавшуюся крону.
					ul
						li
							strong Выращивание крупномеров
						li
							strong Продажа, доставка саженцев
						li
							strong Высадка продукции питомника
					p
						strong Также мы предлагаем услуги ухода за посаженными деревьями и садом:
					ul
						li
							a(href="#") Санитарная обрезка взрослых деревьев и кустарников
						li Обработка от вредителей
					p 
						strong Ландшафтный дизайн и обустройство участка:
					ul
						li
							a(href="#") Проектные работы
						li
							a(href="#") Подготовка территории к озеленению
						li
							a(href="#") Озеленение участка
						li
							a(href="#") Благоустройство садового участка
					p Смотрите также:
					ul
						li
							a(href="#") Посадка деревьев и кустарников
						li
							a(href="#") Зимняя посадка крупномеров
						li
							a(href="#") Очистка территории и вывоз мусора
						li
							a(href="#") Корчевка, удаление пней и валка деревьев 
						li
							a(href="#") Сады коллекций
						li
							a(href="#") Газоны и клумбы
						li
							a(href="#") Устройство дренажной системы
						li
							a(href="#") Устройство системы полива
						li
							a(href="#") Устройство подпорных стенок
						li
							a(href="#") Устройство водоемов и водопадов
						li
							a(href="#") Создание и ландшафтный дизайн альпийских горок
					a.main__download-price(href="#") Скачать прайс-лист на все растения
				.category__advice-block
					h3.category__advice-title Советы
					p.category__intro-text Выбирая крупномер, ориентируйтесь не только на свой вкус, но и на возможности сада. Походите по окружающей местности, посмотрите, какие растения в ней лучше приживаются, поспрашивайте соседей. Но, главное, прислушивайтесь к <a href="#">мнению профессионалов!</a> У нас продажа мичуринских крупномеров всегда сопровождается консультацией грамотных специалистов.