footer.footer
	.container
		.row
			.footer__content-wrap.col-md-9.col-sm-12
				.footer__content
					ul.footer__menu-list.hidden-xs
						each item in footermenu
							li.footer__menu-item: a.footer__menu-link(href="#") #{item}
					p.footer__text © Зеленый дворик, 2007-2015
					p.footer__text г. Москва, 96-ой км МКАД (450 метров), Лесная зона в микрорайоне Дружба
					p.footer__text
						strong Москва
					p.footer__text 8-925-881-01-90
					p.footer__text 8-916-426-69-88
					p.footer__text 8-916-241-25-79
					p.footer__text
						strong Мичуринск
					p.footer__text 8-916-636-85-28
			.footer__sidebar
				p.footer__sidebar-development-text Создание и продвижение сайта:
				a.footer__sidebar-development-link(href="http://dvaslona.ru")
					img.footer__sidebar-development-img(src="img/footer_dev_logo.png", alt="")
include _script