- var menu = ["Продукция", "О питомнике", "Услуги", "Цены", "Оплата и доставка", "Фотогалерея", "О компании", "Вопросы-ответы", "Контакты"]
- var footermenu = ["Продажа крупномеров", "О компании", "Плодовые саженцы", "Услуги", "Цены", "Фотогалерея", "Контакты"]